@font-face {
    font-family: "m_bold";
    src: url("../../fonts/actual_banner/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "m_smbold";
    src: url("../../fonts/actual_banner/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "m_m";
    src: url("../../fonts/actual_banner/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "m_r";
    src: url("../../fonts/actual_banner/Montserrat-Regular.ttf") format("truetype");
}
@media (min-width: 1270px) {
    .container {
        width: 1264px;
    }
}
.bg_mygovuz {
    background: #EFF9FF;
}

.mt60_cont {
    margin-top: 60px;
}

.banner_aktl {
    width: 100%;
    padding: 0 0 95px;
}
.banner_aktl h2 {
    color: #2478DD;
    font-size: 36px;
    line-height: 42px;
    font-family: "m_bold";
    margin: 0;
}

.bnr_blocks {
    border-radius: 10px;
    overflow: hidden;
}
.bnr_blocks div {
    padding: 0;
    position: relative;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
}
.bnr_blocks .img_r {
    position: relative;
    height: 200px;
}
.bnr_blocks .img_r:nth-child(1) {
    z-index: 3;
}
.bnr_blocks .img_r:nth-child(2) {
    z-index: 2;
}
.bnr_blocks .img_r:nth-child(2) a span {
    font-size: 18px;
    line-height: 22px;
}
.bnr_blocks .img_r:nth-child(3) {
    z-index: 1;
}
.bnr_blocks .img_r:nth-child(3) a span {
    font-size: 18px;
    line-height: 22px;
}
.bnr_blocks .img_r a {
    padding: 30px;
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.bnr_blocks .img_r a span {
    color: white;
    display: block;
    font-size: 27px;
    line-height: 35px;
    font-family: "m_smbold";
    margin: 0;
    max-width: 210px;
}
.bnr_blocks .img_r img {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1;
}
.bnr_blocks .img_l {
    padding: 18px 30px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    z-index: 4;
}
.bnr_blocks .img_l div {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.bnr_blocks .img_l div:nth-child(2) {
    width: 200px;
    margin-left: 35px;
}
.bnr_blocks .img_l div h5 {
    font-size: 20px;
    line-height: 34px;
    font-family: "m_smbold";
    color: white;
    margin: 0 auto 15px;
}
.bnr_blocks .big_bnr {
    padding: 18px 30px;
    height: 200px;
}
.bnr_blocks .big_bnr div {
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
}
.bnr_blocks .big_bnr div:last-child {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.bnr_blocks .big_bnr div h5 {
    font-size: 20px;
    line-height: 34px;
    font-family: "m_smbold";
    color: white;
    margin: 0 auto;
    text-align: left;
}
.bnr_blocks .big_bnr div p {
    font-size: 16px;
    line-height: 24px;
    font-family: "m_r";
    color: white;
    margin: 0;
    text-align: left;
    width: 440px;
}
.bnr_blocks .big_bnr div .bnr_btn {
    width: 220px;
}
.bnr_blocks .big_bnr div .bnr_btn:hover {
    background: #b31e7c;
}
.bnr_blocks .bnr_btn {
    display: block;
    text-align: center;
    padding: 12px 0px 14px;
    font-size: 14px;
    line-height: 18px;
    font-family: "m_r";
    color: white;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    text-decoration: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.bnr_blocks .bnr_btn:hover {
    background: #1489C1;
}
.bnr_blocks .bnr_green {
    background: #009D7F;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.bnr_blocks .bnr_green:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-image: -webkit-gradient(linear, left top, right top, from(#056f5c6b), color-stop(51%, #066e5bf7), to(#057b65));
    background-image: linear-gradient(to right, #056f5c6b 0%, #066e5bf7 51%, #057b65 100%);
}
.bnr_blocks .bnr_blue {
    background: #1489C1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.bnr_blocks .bnr_blue:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-image: -webkit-gradient(linear, left top, right top, from(#046fa0), color-stop(51%, #10668e), to(#086089));
    background-image: linear-gradient(to right, #046fa0 0%, #10668e 51%, #086089 100%);
}
.bnr_blocks .bnr_purple {
    background: #9943FD;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.bnr_blocks .bnr_purple:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-image: -webkit-gradient(linear, left top, right top, from(#771cdeba), color-stop(51%, #7121cbd1), to(#6e1ccb88));
    background-image: linear-gradient(to right, #771cdeba 0%, #7121cbd1 51%, #6e1ccb88 100%);
}
.bnr_blocks .bnr_darkblue {
    background: #2F55BF;
}
.bnr_blocks .bnr_pink {
    background: #BF2F8A;
}

@media (max-width: 575px) {
    .banner_aktl{
        margin-top: 40px;
    }
    .mt60_cont{
        margin-top: 20px !important;
    }
    .banner_aktl h2{
        font-size: 24px;
        line-height: 30px;
    }
    .banner_aktl {
        padding: 0px 15px 30px;
    }
    .banner_aktl h2{
        text-align: center;
    }
    .bnr_blocks .img_l {
        height: 250px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 15px;
    }
    .bnr_blocks .img_l div {
        text-align: left;
        width: 100%;
    }
    .bnr_blocks .img_l div img {
        width: 68px;
        height: 68px;
        margin-left: 0;
    }
    .bnr_blocks .img_l div:nth-child(2) {
        margin-top: 20px;
        margin-left: 0;
        text-align: left;
        width: 100%;
    }
    .bnr_blocks .img_l div:nth-child(2) h5 {
        font-size: 18px;
        line-height: 20px;
    }
    .bnr_blocks .img_l div:nth-child(2) .bnr_btn {
        width: 150px;
    }
    .bnr_blocks .img_r {
        height: 250px;
    }
    .bnr_blocks .img_r img {
        right: auto;
        left: 30px;
        top: 20px;
        max-width: 120px;
    }
    .bnr_blocks .img_r a {
        padding: 15px;
    }
    .bnr_blocks .img_r a span {
        font-size: 18px !important;
        line-height: 24px !important;
    }
    .bnr_blocks .big_bnr {
        height: auto;
        padding: 15px;
    }

    .bnr_blocks .big_bnr h5 {
        text-align: left;
    }
    .bnr_blocks .big_bnr div:last-child {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .bnr_blocks .big_bnr div:last-child p {
        margin-bottom: 0px;
        width: 100%;
        text-align: left;
    }
}
@media (max-width: 400px) {
    .banner_aktl {
        padding: 0px 15px 30px;
    }

    .bnr_blocks .img_l {
        height: 280px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 10px;
    }
    .bnr_blocks .img_l div {
        text-align: left;
        width: 100%;
    }
    .bnr_blocks .img_l div img {
        width: 68px;
        height: 68px;
        margin-left: 0;
    }
    .bnr_blocks .img_l div:nth-child(2) {
        margin-top: 20px;
        margin-left: 0;
        text-align: left;
        width: 100%;
    }
    .bnr_blocks .img_l div:nth-child(2) h5 {
        font-size: 18px;
        line-height: 20px;
    }
    .bnr_blocks .img_l div:nth-child(2) .bnr_btn {
        width: 130px;
    }
    .bnr_blocks .img_r {
        height: 280px;
    }
    .bnr_blocks .img_r img {
        right: auto;
        left: 30px;
        top: 20px;
        max-width: 120px;
    }
    .bnr_blocks .img_r a {
        padding: 10px;
    }
    .bnr_blocks .img_r a span {
        font-size: 18px !important;
        line-height: 24px !important;
    }
    .bnr_blocks .big_bnr {
        height: 280px;
        padding: 10px;
    }
    .bnr_blocks .big_bnr h5 {
        text-align: left;
    }
    .bnr_blocks .big_bnr div:last-child {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .bnr_blocks .big_bnr div:last-child p {
        margin-bottom: 20px;
        width: 100%;
        text-align: left;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .banner_aktl h2{
        font-size: 24px;
        line-height: 30px;
    }
    .banner_aktl {
        padding: 0px 15px 60px;
    }

    .bnr_blocks .img_l {
        height: 250px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .bnr_blocks .img_l div {
        text-align: left;
        width: 100%;
    }
    .bnr_blocks .img_l div img {
        width: 68px;
        height: 68px;
        margin-left: 0;
    }
    .bnr_blocks .img_l div:nth-child(2) {
        margin-top: 20px;
        margin-left: 0;
        text-align: left;
        width: 100%;
    }
    .bnr_blocks .img_l div:nth-child(2) .bnr_btn {
        width: 180px;
    }
    .bnr_blocks .img_r {
        height: 250px;
    }
    .bnr_blocks .img_r img {
        right: auto;
        left: 30px;
        top: 20px;
    }
    .bnr_blocks .big_bnr {
        height: 250px;
    }
    .bnr_blocks .big_bnr h5 {
        text-align: left;
    }
    .bnr_blocks .big_bnr div:last-child {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .bnr_blocks .big_bnr div:last-child p {
        margin-bottom: 20px;
        width: 100%;
        text-align: left;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .banner_aktl h2{
        font-size: 26px;
        line-height: 32px;
    }
    .bnr_blocks .img_l {
        height: 200px;
    }
    .bnr_blocks .img_r {
        height: 200px;
    }
    .bnr_blocks .img_r img {
        right: auto;
        left: 30px;
        top: 20px;
    }
    .bnr_blocks .big_bnr {
        height: 200px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .bnr_blocks .img_l {
        height: 250px;
    }
    .bnr_blocks .img_r {
        height: 250px;
    }
    .bnr_blocks .big_bnr {
        height: 250px;
    }
}
