.service-moments-mobile,
.service-moments.service-moments-mobile,
.mobile-list-1,
.mobile-owl-tabs{
    display: none;
}
@media (min-width: 1920px) {
    .government-portals .owl-nav .owl-prev {
        left: 13%;
        top: -95px;
    }
    .government-portals .owl-nav .owl-next {
        right: 13%;
        top: -95px;
    }
}
@media (min-width: 1600px) {
    .container {
        width: 1590px;
    }

    .redesign-inner .header .container {
        width: 1590px;
    }
}

@media (max-width: 1600px) {
    .redesign-inner .header .container {
        width: 100%;
    }

    .stat_pies_box .pie_column .col-md-6{
        padding: 0 15px;
        text-align: center;
    }
    .stat_pies_box .pie_column{
        width: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
        -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
        -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
        padding: 0 15px 15px 15px;
        margin: 10px 0 0 0;
    }
    .dashboard_column .col-md-8.pie_column{
        padding-bottom: 40px;
    }
    .stat_pies_box > .clearfix{
        box-shadow: none !important;
    }
    .donut_title{
        border-bottom: 1px solid #d1d4d8;
        padding: 5px 0 10px 0;
        display: block;
    }
    .dashboard_column .col-md-4,
    .dashboard_column .col-md-8{
        width: 100%;
    }
    .year_list li a {
        padding: 5px 11px;
    }
    .carouselImage .image_box {
        padding-right: 80px;
    }

    .carouselContent .item .col-xs-4, .carouselContent .item .col-xs-6 {
        width: 100%;
        display: block;
        float: none;
    }

    .serviceCardHolder.extended {
        width: 33.3%;
    }

    .serviceCardHolder {
        width: 50%;
    }

    .tab-style {
        padding: 0;
    }

    .widgets_box {
        padding: 15px 0;
    }

    .favServicesContainer {
        margin: 30px 0;
    }

    .affix {
        width: 260px;
    }
}
@media (max-width: 1450px) {
    .government-portals .owl-nav .owl-prev {
        left: 1%;
        top: -110px;
    }
    .government-portals .owl-nav .owl-next {
        right: 1%;
        top: -110px;
    }
}

@media (max-width: 1400px){

    .icon_list li {
        min-height: inherit;
    }
    .stat_box_count_part .col-md-6,
    .stat_box .col-md-6{
        width: 100%;
        padding: 0 0 0 0;
    }
    .stat_box_count_part>.col-md-6{
        width: 50%;
        padding: 0 15px;
    }
    .variable_form{
        margin: 0 0 10px 0;
    }

    .stat_box_count_part .table_list li:last-child {
        border-bottom: 1px dotted #ECECEC;
    }
    .icon_list li:before {
        opacity: 0;
    }
    .icon_list li {
        width: 100%;
        text-align: left;
        padding: 10px 10px 15px 85px;
        border-top: 1px dotted #008DD2;
        border-bottom: 1px dotted #008DD2;
        margin: 0 0 5px 0;
    }
    .icon_list li > span{
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        text-align: center;
        width: 85px;
    }
    .icon_list li svg {
        margin: 0 0 0 0;
    }
    .icon_list li .icon_name {
        margin: 0 0 0 0;
    }
    .big_search #searchmodel-title {
        padding-right: 240px;
    }

}
@media (max-width: 1341px) {
    .government-portals .tabs_block_sl .container {
        width: 100%;
    }
    .government-portals .owl-nav button {
        position: static;
    }
}

@media (min-width: 992px) and (max-width: 1600px) {
    .serviceCatMenu li a {
        padding: 0 5px;
        word-break: break-word;
    }

    .serviceCatMenu li a span {
        padding-left: 50px;
    }
}

@media (max-width: 1199px) {
    .government-portals .owl-nav .owl-prev {
        left: 10px;
        top: -110px;
    }
    .government-portals .owl-nav .owl-next {
        right: 10px;
        top: -110px;
    }
    .one_news_item .one_news_item_active {
        width: 100%;
    }
    .one_news_item .mini_all_news {
        width: 100%;
    }
    .credit_card_box .credit_card .number.multifield .card-input {
        font-size: 20px;
    }
    .credit_card_box .credit_card .date.multifield.ready > span {
        font-size: 12px;
    }
    .credit_card_box .credit_card .date.multifield.ready input {
        font-size: 16px;
    }
    .credit_card_box .credit_card .date.multifield.ready > .slash {
        font-size: 16px;
    }
    .credit_card_box .credit_card .number.multifield {
        padding: 20px 0 0 0;
    }
    .credit_card_box .credit_card {
        min-height: 190px;
    }
    .credit_card_box .credit_card .number.multifield.empty input {
        height: 32px;
    }
    .credit_card_box .credit_card .date.multifield.empty {
        padding: 0 0 0 10px;
    }
    .credit_card_box .credit_card .date.multifield.empty > span {
        font-size: 12px;
    }
    .credit_card_box .credit_card .date.multifield.empty input {
        width: 32px;
        height: 32px;
    }
    .save-card-input input {
        height: 20px;
    }
    .save-card-input label{
        font-size: 12px !important;
    }


    .services_tab.tabs_3 .tab-style li{
        width: calc(100% / 3) !important;
    }
    .services_tab.tabs_3 .tab-style li:nth-child(3n + 1){
        clear: both;
    }

    .vmap_contain {
        margin: 0 auto;
    }

    .tab-style {
        padding: 0;
    }

    .serviceCardHolder.extended {
        width: 50%;
    }

    .carouselContent {
        width: 100%;
    }

    .service_icon_box_holder {
        display: none;
    }

    .service_box > div {
        height: auto;
    }

    .right-side {
        /*float: none;*/
        /*display: table;*/
        /*margin: 0 auto;*/
    }

    .header a.logo, .header .logo {
        /*display: table;*/
        /*float: none;*/
        /*margin: 0 auto;*/
    }

    .affix {
        width: 225px;
    }
    .big_search #searchmodel-title {
        padding-right: 200px;
    }

    /******** for tools service "inactive" *********/
    .blog-for-checked-not-active-services {
        background-size: 100%;
        padding: 25px 0;
        margin: -50px 0 0 0;
    }
}

@media (min-width: 992px) {
    .serviceCatMenu {
        display: block !important;
    }
}

@media (max-width: 992px) {
    .government-portals .owl-nav .owl-prev {
        left: 5px;
        top: -110px;
    }
    .government-portals .owl-nav .owl-next {
        right: 5px;
        top: -110px;
    }

    .credit_card_box .credit_card .number.multifield .card-input {
        font-size: 16px;
    }
    .credit_card_box .credit_card .date.multifield.empty {
        padding: 0 0 0 0;
    }
    .credit_card_box .credit_card .date.multifield.empty input {
        width: 26px;
    }

    .services_tab .tab-style li{
        width: 100% !important;
        clear: both;
    }

    .stat_progress_list.stat_region li:nth-child(3n + 1){
        clear: none;
    }
    .stat_progress_list.stat_region li:nth-child(2n + 1){
        clear: both;
    }
    .stat_progress_list.stat_region li {
        width: 50%;
        padding: 5px 10px 5px 29px;
        margin: 0 0 0 0;
    }

    .stat_box_count_part>.col-md-6{
        width: 100%;
    }

    .serviceCardHolder, .serviceCardHolder.extended {
        width: 100% !important;
        padding: 0;
    }

    .serviceCard, a.serviceCard {
        height: auto !important;
    }

    .favouriteWidgets .serviceCar > div{
        height: 250px !important;
    }

    .nav-tabs > li {
        float: none;
    }

    .icon_box {
        width: 33.3%;
    }

    .paddedBox {
        padding: 0 20px;
    }

    .service_box .service_title {
        float: none;
        width: 100%;
        display: block;
        max-width: max-content;
    }

    .service_btns_holder {
        width: 100%;
        float: none;
        padding: 15px 0 0 45px
    }

    .roundedCenteredBtn.service_button {
        width: 100%;
    }

    .serviceCatMenu {
        display: none;
    }

    .switch-btn {
        display: block;
    }

    .btn-group-switch {
        display: block;
        width: 100%;
        margin: 10px;
    }

    /*.desktopView {*/
    /*    display: none;*/
    /*}*/

    /*.mobileView {*/
    /*    display: block;*/
    /*}*/

    .header a.logo, .header .logo {
        margin: 0 0 10px 0;
    }

    .logo, a.logo {
        padding-top: 10px;
    }

    .section_title {
        margin-left: 10px;
    }

    .news_list.leftBorder {
        margin: 0;
    }

    .serviceStepsListBox {
        margin: 0;
    }

    .service_passport {
        margin: 0 5px;
    }

    .loginBoxes {
        flex-direction: column;
    }

    .loginBoxes .authBox {
        padding: 70px 0;
        width: 100%;
    }

    .loginBoxes .authBox:after {
        position: absolute;
        border-bottom: 1px solid #f0f0f0;
        height: 1px;
        width: 100%;
        bottom: 0;
        right: 0;
        top: auto;
    }

    .idGovBox {
        text-align: center;
    }

    .idGovBox:after {
        transform: scale(0.8);
    }

    .big_search2 .dropdownSearch {
        width: 100%;
        z-index: 5;
    }
    .big_search #searchmodel-title {
        padding-right: 50px;
        padding-left: 20px;
    }


    /******** for tools service "inactive" *********/
    .blog-for-checked-not-active-services .top_right {
        display: none;
    }
    .blog-for-checked-not-active-services .top_left {
        display: none;
    }
}

@media (max-width: 767px) {
    .government-portals #custom_carousel1{
        margin-bottom: 40px;
    }

    .government-portals .wd100 {
        padding: 30px 15px 0;
    }

    .government-portals .owl-carousel {
        margin-top: 30px;
        height: auto;
    }

    .government-portals .owl-carousel .owl-stage-outer .owl-item {
        max-width: 100%;
        width: 100%;
    }

    .government-portals .owl-carousel .owl-stage-outer.container {
        padding: 0 15px;
    }
    .government-portals .owl-carousel .owl-stage-outer.container::before {
        display: none !important;
    }
    .government-portals .owl-carousel .owl-stage-outer.container .owl-stage {
        padding: 0;
    }

    .government-portals .controls ul.nav {
        width: 100%;
    }
    .government-portals .controls ul.nav li {
        display: block;
        width: 100%;
    }

    .credit_card_box .credit_card .date.multifield.empty {
        width: 60%;
    }
    .save-card-input {
        width: 40%;
    }
    .stat_progress_list.stat_region li:nth-child(2n + 1){
        clear: none;
    }
    .stat_progress_list.stat_region li {
        width: 100%;
    }

    .footer .footer_menu li {
        float: none;
        margin: 10px 0;
    }

    .footer .container {
        padding: 0 20px;
    }

    .footer {
        height: 530px;
    }

    .content {
        padding-bottom: 0;
    }

    .footer {
        height: auto;
        position: relative;
    }
    .mob_title{
        font-size: 22px !important;
    }
    .jkx_btn_updates {
        text-align: center;
    }
    .mobile_style_scroll {
        overflow: scroll;
    }

    .fl-left-car{
        width: calc(100% - 230px);
    }
    .fl-right-car .btn{
        padding: 5px 16px;
    }
    .fl-right-car {
        width: 230px;
    }
}

@media (max-width: 587px) {
    .mini_all_news_item_img {
        width: 100%;
        margin: 0 0 15px 0;
    }
    .mini_all_news_item_text {
        width: 100%;
    }
    .all_news_item_img {
        width: 100%;
        margin: 0 0 15px 0;
    }
    .all_news_item_text {
        width: 100%;
    }
    .wrapper.simpleWrap .header,
    .redesign-inner .header,
    .new-design .header,
    .header.alone{
        display: none;
    }
    .redesign-inner {
        padding: 50px 0 0 0;
    }
    .wrapper.simpleWrap,
    .new-design {
        padding: 50px 0 0 0;
    }
    .footer-fix-menu,
    .header-fix-menu{
        display: block;
    }
    .icon_box {
        width: 50%;
    }
    .carouselImage .image_box {
        display: none;
    }
    .sortingForm {
        display: none;
    }
    .logo span {
        display: none;
    }
    .logoImgText {
        display: block;
    }
    .iconBox {
        display: none;
    }
    .bannerBar .titleBox {
        padding: 0;
    }
    .serviceStepsListBox {
        overflow-x: scroll;
    }
    .serviceStepsList {
        width: 700px;
    }
    .serviceStepsListBox:after {
        display: none;
    }
    .block-mobile-btn button,
    .block-mobile-btn a{
        display: block;
        width: 100%;
        margin-top: 10px;
    }
    .nopadeleft,
    .nopaderight{
        padding: 0 0 0 0;
    }
    .mobile_communal .table .col-xs-6 {
        width: 100%;
        margin: 0 0 10px 0;
    }
    .big_search #searchmodel-title {
        padding-left: 10px;
    }
    #searchmodel-title span {
        padding-right: 0; !important;
    }
    .mobile_communal .mobile_style {
        margin: 0 0 10px 0;
        width: 100%;
    }
    .jkx_btn_updates a {
        width: 100%;
    }

    /***************Ð¼Ð¾Ð±Ð¸Ð» Ð°Ð´Ð°Ð¿Ñ‚Ð°Ñ†Ð¸Ñ Ð½Ð¾Ð²Ð°Ñ****************/

    .service-moments{
        padding-bottom: 0 !important;
    }
    .footer-part .counter_www,
    .footer-part .text{
        display: none !important;
    }
    .footer-img{
        margin-bottom: 0 !important;
    }
    .footer-part {
        padding: 20px 15px 70px 15px;
    }
    .services-list,
    .service-moments,
    .mobile-vue-off,
    .helper-assistant,
    .for-brauser,
    .type-of-services-list{
        display: none !important;
    }
    .service-moments-mobile,
    .service-moments.service-moments-mobile,
    .mobile-list-1 .helper-assistant,
    .mobile-list-1,
    .mobile-owl-tabs{
        display: block !important;
    }

    .service-moments-mobile .service-count,
    .service-moments-mobile .service-name{
        display: none !important;
    }
    .service-moments-mobile .tab-content .sphere-list li a .sphere-title {
        height: initial;
        overflow: visible;
        line-height: 1.2;
        margin: 0 0 0 0 !important;
    }
    .service-moments-mobile .tab-content .sphere-list li a .right-part {
        padding: 20px 0 20px 0 !important;
    }
    .service-moments-mobile .service-moments-list li a{
        padding: 20px 10px !important;
        display: table-cell;
        width: 1000px;
        height: 77px;
        vertical-align: middle;
        line-height: 1;
    }
    .service-moments-mobile .service-moments-list li{
        padding: 0 0 !important;
    }
    .service-moments-mobile .tab-content .sphere-list li a .sphere-title{
        font-size: 16px;
        font-family: "Montserrat-Local";
    }
    .service-moments-mobile .tab-pane{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .service-moments-mobile .tab-content .sphere-list{
        /*width: calc(100% - 30px);*/
    }
    .services-list .service-moments-mobile .tab-content{
        border: 1px solid transparent !important;
        padding: 0 0 !important;
    }
    .service-moments-mobile .mobile-owl-tabs a{
        border: 3px solid #BEDDF0;
    }
    .service-moments-mobile .mobile-owl-tabs .item.active a{
        border: 3px solid #2478DD;
    }
    .new-design .services-list .tab-content ul{
        padding: 10px 0 0 0 !important;
    }

    /******************************serviceCardHolder**********************************/
    .serviceCardHolder .card_icons{
        display: none !important;
    }
    .serviceCard, a.serviceCard {
        min-height: initial;
        padding: 14px 25px 3px 25px;
    }
    /******************************serviceCardHolder**********************************/

    /****************************news-date************************************/
    .news-date{
        float: left;
        margin: 0 0 10px 0;
        min-width: 100px;
    }
    .news_announce:after{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        height: 65px;
        background: linear-gradient(180deg, transparent, #ffffff 80%, #ffffff 100%);
        transition: all 0.3s ease-in-out;
    }
    .news_announce{
        position: relative;
        line-height: 18px;
        height: calc(6 * 18px);
        overflow: hidden;
        margin: 0 0 10px 0;
    }
    /****************************news-date************************************/

    .fl-right-car {
        width: 130px;
        margin: 20px 0;
    }
    .fl-right-car .btn{
        margin: 3px 5px !important;
        display: block;
        float: left;
    }
    .fl-left-car{
        width: calc(100% - 130px);
        font-size: 26px;
    }

    .sphere-main-list {
        position: relative;
    }
    .sphere-main-list .owl-nav {
        position: relative;
        top: 235px;
    }
    .sphere-main-list .owl-nav .owl-prev{
        position: absolute;
        top: 50%;
        left: -25px;
        transform: translateY(-50%);
        background: #005ecc;
        border: 1px solid transparent;
        color: #ffffff;
        border-radius: 3px;
        outline: none !important;
        line-height: 1;
        font-size: 20px;
    }
    .sphere-main-list .owl-nav .owl-next{
        position: absolute;
        top: 50%;
        right: -25px;
        transform: translateY(-50%);
        border: 1px solid transparent;
        background: #005ecc;
        color: #ffffff;
        border-radius: 3px;
        outline: none !important;
        line-height: 1;
        font-size: 20px;
    }
    .service-moments-mobile .tab-content .sphere-list li a .right-part {
        padding: 0 !important;
    }
    .service-moments-mobile .tab-content .sphere-list li a .sphere-title {
        display: table-cell;
        vertical-align: middle;
        height: 60px;
    }
    .service-moments .tab-content .sphere-list li a .left-part {
        width: 60px;
        padding: 13px 5px 10px 0;
    }
    .service-moments .tab-content .sphere-list li a .right-part {
        width: calc(100% - 60px);
    }
    .service-moments-mobile .tab-content .sphere-list li a .sphere-title {
        font-size: 14px;
    }
    .new-design .bannerBar.not_guest, .new-design .bannerBar {
        height: initial;
        padding: 15px 0 15px 0 !important;
    }
    .user_name {
        font-size: 24px;
    }
    .new-design .bannerBar .titleArea span {
        font-size: 16px;
        margin: 0 0 5px 0;
    }
    .covid_banner {
        margin-bottom: 4px;
        padding: 15px 0 10px 0;
        font-size: 18px;
    }
    .new-design .enter-btn,
    .new-design .registration-btn {
        padding: 3px 17px;
        min-width: inherit;
    }
}

@media (max-width: 350px) {
    .icon_box {
        width: 100%;
    }

    .logoImgText {
        display: none;
    }
}

.service-moments-mobile .owl-item {
    float: left;
}
.service-moments-mobile .owl-carousel {
    overflow: hidden;
}
.service-moments-mobile .owl-nav.disabled{
    display: none !important;
}